html, body, #root {
  height: 100%;
  /* font-size: 20px; */
}


#root {
  display: flex;
  flex-direction: column;
}

.main {
    flex: 1 0 auto;  
}

footer.page-footer{
      flex-shrink: 0;
}
.hide {
    display: none;
}

.navbar {
    padding: .5rem;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    
}

footer {
    color: #fff;
}

header {
    line-height: 5rem;
    margin-bottom: 10px;
}

.header-title{
    margin-top: 16px;
    color: rgb(162, 182, 187);
}

.text, .text-bot{
    padding: 20px;
    padding-top: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.text-bot{
    border: 1px solid black;
    box-shadow: 15px 15px 20px;
}



.button-list {
    list-style-type: none;
}

.button-list li {
    text-align: center;
}


.form-group {
    margin-bottom: 1rem;
}

/* .active {
    color: rgb(151, 133, 133);
} */

.nav {
    display: flex;
    justify-content: space-evenly;
}

.repo{
    color: #fff;
    margin-top: 2rem;
}